<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

    <meta charset="utf-8">
    <title>分组管理--后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel = "shortcut icon" href="${site.logo}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>用户检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline" style="width: 15%">
                <input type="text" value="" name="filter_key" placeholder="请输入分关键字" class="layui-input search_input">
            </div>
            <div class="layui-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>

            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal" data-type="addTags">新增关键字</a>
            </div>
        </form>
    </div>
</fieldset>
<div class="layui-form user_list">
    <table class="layui-table" id="filterTable" lay-filter="filterList"></table>
    <script type="text/html" id="filterBar">
        {{#  if(d.isUse == 1){ }}
        <a class="layui-btn layui-btn layui-btn" lay-event="stop">停用</a>
        <!--0:待执行,1:执行中2:暂停 3:终止-->
        {{#  } else if(d.isUse == 0){ }}
        <a class="layui-btn layui-btn layui-btn" lay-event="use">启用</a>
        {{# } }}
        <a class="layui-btn layui-btn-danger layui-btn" lay-event="del">删除</a>
    </script>
</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/weibo/js/filter/filterList.js}"></script>
</body>
</html>