<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

    <meta charset="utf-8">
    <title>任务日志--后台管理</title>
    <meta status="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta status="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta status="apple-mobile-web-app-status-bar-style" content="black">
    <meta status="apple-mobile-web-app-capable" content="yes">
    <meta status="format-detection" content="telephone=no">
    <link rel = "shortcut icon" href="${site.logo}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>任务日志</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline" style="width: 15%">
                <input type="text"  id="search"  th:value="${keys}" name="log_key" placeholder="关联账号或任务ID" class="layui-input search_input">
            </div>
            <div class="layui-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>
        </form>
    </div>
</fieldset>

<div class="layui-form users_list">
    <table class="layui-table" id="logTable" lay-filter="logList"></table>

</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/weibo/js/log/logList.js}"></script>
</body>
</html>