<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>任务添加--任务管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <style type="text/css">
        .layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
        @media(max-width:1240px){
            .layui-form-item .layui-inline{ width:100%; float:none; }
        }


    </style>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;margin-top: 2%;">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">任务名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="taskName" th:value="${bzTask.taskName}" readonly>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">任务总量</label>
            <div class="layui-input-block">
                <input type="number" class="layui-input" name="taskCount" th:value="${bzTask.taskCount}" readonly>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">任务地址</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="targetUrl"  th:value="${bzTask.targetUrl}" readonly>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">账号分组</label>
            <div class="layui-input-block">
                <select name="tagGroup" id="tagGroup"  lay-search="" readonly="">
                    <option value="">无</option>
                    <option  th:each="tags : ${tagsList}" th:value="${tags.tagCode}" th:text="${tags.tagName}" th:checked="${bzTask.tagGroup == tags.tagCode? checked:false}"></option>
                </select>
            </div>

        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">执行速度</label>
            <div class="layui-input-block">
                <input type="radio" name="taskSpeed" value="1" title="普通" th:checked="${bzTask.taskSpeed} == 1?checked:false">
                <input type="radio" name="taskSpeed" value="2" title="快速"  th:checked="${bzTask.taskSpeed} == 2?checked:false">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="startTimeStr" id="startTimeStr"  style="width:100%" th:value="${bzTask.startTime}" readonly>
            </div>

        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">微博内容</label>
            <div class="layui-input-block">
                <textarea name="remark" id="remark" placeholder="请输入内容"  readonly th:text="${bzTask.remark}" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>





    <!--<div class="layui-form-item">-->
        <!--<div class="layui-input-block">-->
            <!--<button class="layui-btn" lay-submit="" lay-filter="addTask">立即提交</button>-->
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        <!--</div>-->
    <!--</div>-->
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/weibo/js/task/sendEdit.js}"></script>
</body>
</html>